iframe 
{
    width: 1250px;
    height: 410px;
    overflow-y: hidden;
}

.video-link-notes
{
    width:75%;
    float:left;
    padding-right:4%;
}

.display-notes-video
{
    border: 2px solid #376558;
    border-style: solid;
    width:130%;
    margin-top:15px;
    height:600px;
    border-radius: 13px;
    border-style: inset;
}