iframe 
{
    width:900px;
    height: 600px;
    overflow-y: hidden;
}

.video-link-notes
{
    width:75%;
    float:left;
    padding-right:4%;
}


.class-notes-video
{
    float:left;
}

.class-notes-header
{
    background-color: #376558;
    border: 2px solid #376558;
    width:130%;
    font-family: "Gill Sans MT";
    color: white;
    font-size:25px;
    text-align:center;
    border-radius: 13px;
    border-style: inset;
}

.display-notes-video
{
    border: 2px solid #376558;
    border-style: solid;
    width:130%;
    margin-top:15px;
    height:600px;
    border-radius: 13px;
    border-style: inset;
}


.video-notes-header
{
    background-color: #376558;
    border: 2px solid #376558;
    width:100%;
    font-family: "Gill Sans MT";
    color: white;
    font-size:25px;
    text-align:center;
    border-radius: 13px;
    border-style: inset;
}

.video-notes-display
{
    border: 2px solid #376558;
    border-style: solid;
    width:100%;
    margin-top:15px;
    border-radius: 13px;
    border-style: inset;
}
