.top-bar
{
    padding: 0 10px !important;
}

.top-bar-details
{
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    background-color: #376558;
}

.header-text
{
  font-family: "Gill Sans MT";
  color: white;
  font-size:15px;
  padding-top:10px;
}

.user-profile-icon
{
    padding:35px;
    Height: 0px
}

.svg_icons
{
    transform: scale(2);
}