.verticalFolderNavigationBar
{
    display: flex;
    height: 450px;
    flex-direction: row; 
    width: 1750px !important; 
}

.verticalFolderNavigationBar .tab-panel 
{  
  height: 0;
}

.verticalFolderNavigationBar .MuiTab-root {
  height: 50.5px !important;
  padding: 10px !important;
  min-width: 0px !important;
}

.verticalFolderNavigationBar .MuiBox-root 
{
  padding: 50px !important;
}

.verticalFolderNavigationBar button
{
  background-color:#376558 !important;
}


.video-notes-display-folders
{
    border: 2px solid #376558;
    width: 1150px;
    border-radius: 13px;
    border-style: inset;
    height: 400px;
    overflow-y: auto;
}

.top-bar-folders
{
    background-color: #376558;
}

.header-text-folders
{
    font-family: "Gill Sans MT";
    color: white;
    font-size:15px !important;
    width:'100%' !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MuiTab-root 
{
  height: 100px !important;
  padding: 10px !important;
  min-width: 0px !important;
}

